<%- include("templates/header") %>
  <h1>Hello, <%= username %>.</h1>
  <!-- <img src="<%= path %>" alt="Random GIF" /> -->
  <!-- container and row should be outside of for loop for some reason -->
  <div class="container"> 
    <div class="row">
  <% for (let i=0; i < path.length; i++) { %>
        <div class="col-md-4">
          <img src="<%= path[i] %>" class="img-fluid" alt="">
        </div>        
        <% } %>
      </div>
    </div>
      <form action="/logout" method="get">
        <button>Sign out</button>
      </form>
      <%- include("templates/footer") %>