<%- include("templates/header") %>



  <form action="/signup" method="POST">
    create user
    <%- include("templates/input", {type: "text", input: "username"}) %>  
    <%- include("templates/input", {input: "email"}) %>  
    <%- include("templates/input", {input: "password"}) %>  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>

  <% if (typeof hasUser === 'undefined' && typeof isUnique === 'undefined') { %>
    <!-- <p>executed</p> -->
    <% } else if (typeof isUnique === 'undefined' && !hasUser){ %>    
      <p>No user found with given email and password. Sign up first.</p>
    <% } else if (typeof hasUser === 'undefined' && !isUnique) {%>
      <p>Account already exist</p>
      <% } %>
      <%- include("templates/footer") %>