<% if (typeof type === 'undefined') { %>
    <div><input type=<%= input %> name=<%= input %> placeholder=<%= input %> class="form-control"/></div>
<% } else {%>
    <div><input type=<%= type %> name=<%= input %> placeholder=<%= input %> class="form-control"/></div>
    <% } %>

